In [1]:
import random

In [2]:
def genAlg(numCourses,courses,popSize,times,rooms,maxIters,isElite):
	population = []
	fit = []
	for i in range(0,popSize):
		for j in range(0,numCourses):
			population.append(times[random.randrange(0,len(times))])
			population.append(rooms[random.randrange(0,len(rooms))])
			#Course
			population.append(courses[0+5*j])
			#Professor
			population.append(courses[1+5*j])
			'''#Requested Times
			population.append(courses[2+5*j])
			#Requested Rooms
			population.append(courses[3+5*j])
			#Size
			population.append(courses[4+5*j])'''

	fit = fitness(population,popSize,numCourses,rooms,times)
 
	i = 0
	while (i < maxIters) and ((float(max(fit))/(numCourses*4)) < 0.9):
		#print(i)
		newPop = []
		toPull = fit[:]
		toPull.sort()
		toPull = toPull[(len(toPull)-int(0.1*len(toPull))):len(toPull)]
		topIndexs = []
		tempFit = fit[:]
		tempPop = []
		for j in range(0,len(toPull)):
			topIndexs.append(tempFit.index(toPull[j]))
			tempFit[topIndexs[j]] = 0
			tempPop += population[topIndexs[j]*4*numCourses:(topIndexs[j]*4*numCourses)+4*numCourses]

		for j in range(0,popSize):
			if isElite:
				howToReproduce = random.random()
				r = random.randrange(0,len(topIndexs))
				winner = tempPop[(r*numCourses*4):((r*numCourses*4)+(numCourses*4))]
				child = 0

				if howToReproduce < 0.15:
					child = mutate(winner,numCourses,times,rooms)
				else:
					howToReproduce = random.randrange(0,3)
					if howToReproduce == 0:
						child = swapRooms(winner,numCourses,rooms)
					elif howToReproduce == 1:
						child = swapTimes(winner,numCourses,times)
					else:
						child = changeCourseTime(winner,numCourses,times)

				if fitness(child,1,numCourses,rooms,times)[0] > fitness(winner,1,numCourses,rooms,times)[0]:
					newPop += child
				else:
					newPop += winner
			else:
				pick1 = random.randrange(0,popSize)
				pick2 = random.randrange(0,popSize)

				winner = 0
				if fit[pick1] > fit[pick2]:
					winner = pick1
				else:
					winner = pick2

				winner = population[(winner*numCourses*4):((winner*numCourses*4)+(numCourses*4))]

				howToReproduce = random.random()
				child = 0

				if howToReproduce < 0.15:
					child = mutate(winner,numCourses,times,rooms)
				else:
					howToReproduce = random.randrange(0,3)
					if howToReproduce == 0:
						child = swapRooms(winner,numCourses,rooms)
					elif howToReproduce == 1:
						child = swapTimes(winner,numCourses,times)
					else:
						child = changeCourseTime(winner,numCourses,times)

				if fitness(child,1,numCourses,rooms,times)[0] > fitness(winner,1,numCourses,rooms,times)[0]:
					newPop += child
				else:
					newPop += winner

		population = newPop[:]
		fit = fitness(population,popSize,numCourses,rooms,times)
		#sfit = fit[:]
		#sfit.sort()
		#file = open("maxs.txt",'a')
		#file.write(str(float(max(fit))/(numCourses*5))+'\n')
		#file.close
		#file = open("pop.txt",'a')
		#file.write(str(float(sum(fit))/(popSize*numCourses*5))+'\n')
		#file.close
		#print "Fitness: " + str(sum(fit)/(popSize*numCourses*5))
		i += 1

	maxIndex = fit.index(max(fit))
	return population[4*maxIndex:4*maxIndex+4*numCourses]

In [3]:
def swapRooms(schedule,numCourses,rooms):
  sched = schedule[:]
  room1 = rooms[random.randrange(0,len(rooms))]
  room2 = rooms[random.randrange(0,len(rooms))]
  for i in range(0,len(sched),4):
    if sched[i+1] == room1:
      sched[i+1] = room2
    elif sched[i+1] == room2:
      sched[i+1] = room1

  return sched

In [4]:
def swapTimes(schedule,numCourses,times):
  sched = schedule[:]
  time1 = times[random.randrange(0,len(times))]
  time2 = times[random.randrange(0,len(times))]
  for i in range(0,len(sched),7):
    if sched[i] == time1:
      sched[i] = time2 
    elif sched[i] == time2:
      sched[i] = time1 

  return sched

In [5]:
def changeCourseTime(schedule,numCourses,times):
  sched = schedule[:]
  time = times[random.randrange(0,len(times))]
  course= random.randrange(0,numCourses)

  sched[course*4] = time

  return sched

In [8]:
def mutate(schedule,numCourses,times,rooms):
  sched = schedule[:]
  time = times[random.randrange(0,len(times))]
  room = rooms[random.randrange(0,len(rooms))]
  course= random.randrange(0,numCourses)

  sched[course*4] = time
  sched[course*4+1] = room 

  return sched

In [24]:
def fitness(pop,popSize,numCourses,rooms,times):

	fit = []

	for i in range(0,popSize):
		afit = 0
		curChrom = i*numCourses*4
		for j in range(0,numCourses*4,4):
			sameTimeSameRoom = 5
			sameTimeSameProf = 8
			#requestedRoom = 0
			#requestedTime = 0
			#roomSizeNeed = 1
			tempTime = pop[curChrom+j]
			tempRoom = pop[curChrom+j+1]
			tempProf = pop[curChrom+j+3]
			
			

			for k in range(j+4,numCourses*4,4):
				if (tempTime == pop[curChrom+k]) and (tempRoom == pop[curChrom+k+1]):
					sameTimeSameRoom = 0
				if (tempTime == pop[curChrom+k]) and (tempProf == pop[curChrom+k+3]):
					sameTimeSameProf = 0

			afit += sameTimeSameRoom + sameTimeSameProf #+ requestedRoom + requestedTime + roomSizeNeed     
		fit.append(afit)
	return fit

# Pruebas

In [9]:
from itertools import combinations
import numpy as np
import pandas as pd

In [11]:
equipos1=pd.read_csv('equipos.csv',delimiter=';',header=None)
equipos1.T

     0    1    2    3    4    5    6   ...   9    10   11   12   13   14   15
0    1a   1b   1c   1d   1e   1f   1g  ...   1j   1k   1l   1m   1n   1o   1p
1    2a   2b   2c   2d   2e   2f   2g  ...   2j   2k   2l   2m   2n   2o   2p
2    3a   3b   3c   3d   3e   3f   3g  ...   3j   3k   3l   3m   3n   3o   3p
3    4a   4b   4c   4d   4e   4f   4g  ...   4j   4k   4l   4m   4n   4o   4p
4    5a   5b   5c   5d   5e   5f   5g  ...   5j   5k   5l   5m   5n   5o   5p
5    6a   6b   6c   6d   6e   6f   6g  ...   6j   6k   6l   6m   6n   6o   6p
6    7a   7b   7c   7d   7e   7f   7g  ...   7j   7k   7l   7m   7n   7o   7p
7    8a   8b   8c   8d   8e   8f   8g  ...   8j   8k   8l   8m   8n   8o   8p
8    9a   9b   9c   9d   9e   9f   9g  ...   9j   9k   9l   9m   9n   9o   9p
9   10a  10b  10c  10d  10e  10f  10g  ...  10j  10k  10l  10m  10n  10o  10p
10  11a  11b  11c  11d  11e  11f  11g  ...  11j  11k  11l  11m  11n  11o  11p
11  12a  12b  12c  12d  12e  12f  12g  ...  12j  12k  12l  12m  12n  12o  12p

[12 rows x 16 columns]

Tabla de grupos, 12 equipos por grupos, 16 grupos

In [13]:
timez=[]
for i in range(30):
  timez.append(i+1)

In [14]:
def combinar_partidos(equipos1,group):
  equipos=equipos1.to_numpy()
  partidos_grupo= combinations(equipos[group],2)
  grupo=[]
  for i in list(partidos_grupo):
    grupo.append(str(i))
  return grupo

In [51]:
grupos=[]
for i in range(10):
  GRUPO=combinar_partidos(equipos1,i)
  grupos.extend(GRUPO)

len(grupos)

660

In [25]:
# JUST FOR TESTING
def test(timez,grupo):
	courses = grupo
	profs = [1,2,3,4,5,6,7,8]
	times = timez
	rooms = [1,2,3,4,5]

	initial = []

	for i in range(0,len(grupo)):
		initial.append(courses[i])
		initial.append(profs[random.randrange(0,8)])
		temp = []
		temp.append(times[random.randrange(0,8)])
		temp.append(times[random.randrange(0,8)])
		initial.append(temp)
		#initial.append(times[random.randrange(0,8)])
		temp2 = []
		temp2.append(rooms[random.randrange(0,5)])
		temp2.append(rooms[random.randrange(0,5)])
		initial.append(temp2)
		#initial.append(rooms[random.randrange(0,5)])
		initial.append(20)

	#printCourse(genAlg(len(grupo),initial,200,times,rooms,1000,True))
	schedule=genAlg(len(grupo),initial,200,times,rooms,1000,True)

	return schedule

In [52]:
fixture1=[]
fixture1=test(timez,grupos)

fixture=np.array(fixture1)
fixture=np.reshape(fixture,(len(grupos),4))
tablas=pd.DataFrame(fixture,columns=['Periodo','Cancha','Partido','Día'])
tablas

    Periodo Cancha        Partido Día
0         9      5   ('1c', '8c')   5
1        20      4   ('1c', '9c')   5
2        29      5  ('1c', '10c')   7
3         8      1  ('1c', '11c')   2
4        17      2  ('1c', '12c')   4
..      ...    ...            ...  ..
655      14      5   ('1c', '3c')   8
656      21      3   ('1c', '4c')   2
657      24      4   ('1c', '5c')   3
658      24      3   ('1c', '6c')   1
659      25      5   ('1c', '7c')   2

[660 rows x 4 columns]

In [57]:
def horarios_cancha1(programa):
  c=0
  k=1
  for i in programa[:,1]:
    if i == '1':
     #programa=np.delete(programa,c,axis=0)
     print(programa[c],k)
     k+=1
    c=c+1

In [58]:
#tabla_cancha1=horarios_cancha1(fixture)
#tablas=pd.DataFrame(tabla_cancha1)
#tablas

horarios_cancha1(fixture)

['8' '1' "('1c', '11c')" '2'] 1
['29' '1' "('2c', '7c')" '6'] 2
['14' '1' "('2c', '10c')" '2'] 3
['14' '1' "('5c', '10c')" '7'] 4
['26' '1' "('5c', '12c')" '2'] 5
['13' '1' "('6c', '10c')" '7'] 6
['25' '1' "('6c', '11c')" '8'] 7
['13' '1' "('7c', '10c')" '2'] 8
['24' '1' "('8c', '12c')" '1'] 9
['28' '1' "('1d', '4d')" '5'] 10
['3' '1' "('1d', '8d')" '8'] 11
['21' '1' "('1d', '9d')" '4'] 12
['20' '1' "('1d', '11d')" '4'] 13
['14' '1' "('2d', '3d')" '6'] 14
['10' '1' "('2d', '4d')" '5'] 15
['8' '1' "('2d', '6d')" '7'] 16
['14' '1' "('4d', '12d')" '2'] 17
['3' '1' "('5d', '9d')" '2'] 18
['21' '1' "('5d', '12d')" '6'] 19
['12' '1' "('7d', '10d')" '3'] 20
['16' '1' "('8d', '9d')" '2'] 21
['18' '1' "('8d', '10d')" '6'] 22
['1' '1' "('1e', '6e')" '7'] 23
['22' '1' "('1e', '8e')" '8'] 24
['8' '1' "('1e', '11e')" '3'] 25
['16' '1' "('1e', '12e')" '3'] 26
['22' '1' "('3e', '6e')" '5'] 27
['28' '1' "('3e', '9e')" '8'] 28
['27' '1' "('3e', '10e')" '2'] 29
['3' '1' "('4e', '6e')" '3'] 30
['12' '1' "('4e', '7e')" '8'] 31
['9' '1' "('4e', '9e')" '2'] 32
['3' '1' "('4e', '10e')" '2'] 33
['4' '1' "('4e', '12e')" '6'] 34
['1' '1' "('5e', '12e')" '5'] 35
['22' '1' "('7e', '8e')" '7'] 36
['8' '1' "('8e', '12e')" '6'] 37
['10' '1' "('10e', '11e')" '6'] 38
['11' '1' "('1f', '3f')" '7'] 39
['10' '1' "('3f', '4f')" '4'] 40
['4' '1' "('3f', '5f')" '4'] 41
['29' '1' "('3f', '6f')" '3'] 42
['27' '1' "('3f', '7f')" '1'] 43
['21' '1' "('3f', '9f')" '8'] 44
['20' '1' "('3f', '10f')" '8'] 45
['27' '1' "('5f', '10f')" '4'] 46
['22' '1' "('6f', '10f')" '5'] 47
['27' '1' "('8f', '12f')" '6'] 48
['1' '1' "('1g', '9g')" '4'] 49
['29' '1' "('1g', '11g')" '7'] 50
['13' '1' "('3g', '6g')" '5'] 51
['6' '1' "('4g', '7g')" '6'] 52
['15' '1' "('4g', '9g')" '7'] 53
['4' '1' "('5g', '10g')" '5'] 54
['8' '1' "('6g', '9g')" '2'] 55
['3' '1' "('6g', '11g')" '1'] 56
['27' '1' "('7g', '11g')" '2'] 57
['16' '1' "('7g', '12g')" '7'] 58
['27' '1' "('8g', '11g')" '3'] 59
['1' '1' "('1h', '6h')" '2'] 60
['29' '1' "('1h', '12h')" '5'] 61
['21' '1' "('2h', '7h')" '8'] 62
['14' '1' "('2h', '9h')" '5'] 63
['8' '1' "('2h', '10h')" '7'] 64
['5' '1' "('2h', '12h')" '2'] 65
['19' '1' "('3h', '5h')" '6'] 66
['1' '1' "('3h', '10h')" '5'] 67
['23' '1' "('5h', '10h')" '4'] 68
['7' '1' "('6h', '7h')" '4'] 69
['28' '1' "('6h', '11h')" '7'] 70
['14' '1' "('7h', '9h')" '8'] 71
['6' '1' "('1i', '2i')" '4'] 72
['14' '1' "('1i', '5i')" '2'] 73
['20' '1' "('1i', '7i')" '6'] 74
['16' '1' "('2i', '3i')" '5'] 75
['13' '1' "('2i', '8i')" '5'] 76
['18' '1' "('2i', '10i')" '3'] 77
['27' '1' "('2i', '11i')" '4'] 78
['8' '1' "('3i', '8i')" '3'] 79
['26' '1' "('5i', '11i')" '6'] 80
['28' '1' "('6i', '7i')" '1'] 81
['3' '1' "('6i', '11i')" '8'] 82
['15' '1' "('7i', '8i')" '1'] 83
['3' '1' "('7i', '9i')" '7'] 84
['30' '1' "('7i', '10i')" '1'] 85
['25' '1' "('7i', '11i')" '1'] 86
['22' '1' "('11i', '12i')" '6'] 87
['6' '1' "('1j', '5j')" '3'] 88
['19' '1' "('1j', '11j')" '6'] 89
['22' '1' "('2j', '4j')" '5'] 90
['6' '1' "('2j', '8j')" '8'] 91
['19' '1' "('4j', '6j')" '3'] 92
['10' '1' "('4j', '9j')" '1'] 93
['13' '1' "('5j', '9j')" '4'] 94
['9' '1' "('6j', '8j')" '6'] 95
['8' '1' "('6j', '11j')" '3'] 96
['11' '1' "('11j', '12j')" '2'] 97
['22' '1' "('1a', '2a')" '3'] 98
['11' '1' "('1a', '3a')" '4'] 99
['26' '1' "('1a', '4a')" '2'] 100
['20' '1' "('1a', '5a')" '5'] 101
['21' '1' "('1a', '9a')" '6'] 102
['15' '1' "('1a', '10a')" '3'] 103
['18' '1' "('1a', '11a')" '5'] 104
['7' '1' "('2a', '3a')" '7'] 105
['13' '1' "('3a', '9a')" '5'] 106
['22' '1' "('3a', '10a')" '1'] 107
['22' '1' "('4a', '10a')" '3'] 108
['18' '1' "('4a', '12a')" '4'] 109
['3' '1' "('5a', '7a')" '7'] 110
['1' '1' "('5a', '12a')" '7'] 111
['2' '1' "('6a', '8a')" '5'] 112
['16' '1' "('1b', '4b')" '1'] 113
['25' '1' "('1b', '5b')" '5'] 114
['28' '1' "('1b', '8b')" '6'] 115
['27' '1' "('2b', '3b')" '3'] 116
['15' '1' "('2b', '8b')" '6'] 117
['10' '1' "('2b', '12b')" '8'] 118
['7' '1' "('4b', '9b')" '2'] 119
['8' '1' "('4b', '10b')" '1'] 120
['15' '1' "('4b', '12b')" '3'] 121
['25' '1' "('6b', '9b')" '3'] 122
['13' '1' "('6b', '12b')" '5'] 123
['18' '1' "('9b', '12b')" '2'] 124
['19' '1' "('10b', '12b')" '3'] 125